.container {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
    .customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      /* font-size: 2.9vw !important; */
      /* font-size: 3vw !important; */
      font-size: 11px;
      /* width: 100%; */
    }
  }

  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 11px;
    /* width: 100%; */
  }
  
  /* .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  ; */
  
  /* .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #51d0de;
    color: white;
  } */
  /* .customers tr:first-child {background-color: burlywood} */

  .colorRed{
    color:red !important;
  }
  .colorGreen{
    color:green !important;
  }
  /* colorRed{
    color:red;
  } */
  .font8{
    font-size: 10px!important;
  }

  .font11 {
  font-size: 11px;
}
table {
  min-width:  700
}
.fontWeight{
  font-weight: 600 !important;
}
.colorRed1{
  color:red !important;
  font-weight: 600 !important;
}
.colorGreen1{
  color:green !important;
  font-weight: 600 !important;
}