.container {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
    .customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      /* font-size: 2.9vw !important; */
      font-size: 3.5vw !important
      /* width: 100%; */
    }

  }

  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* font-size: 2.9vw !important; */
    /* font-size: 3.5vw !important */
    /* width: 100%; */
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  ;
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#51d0de;
    color: white;
  }
  .class1{
    color:green;
    font-weight: 900;
    
  }
  
  .class3{
    color:red;
    font-weight: 700;
  }
  /* .customers tr:first-child {background-color: burlywood} */
  .formControl {
    width: 50% !important;
    /* margin-bottom: 30px !important; */
    margin: 10px !important;
    margin-bottom: 30px !important
  }
  .tdBreak{
    word-break: break-all;
  }