.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* font-size: 2.9vw !important; */
    font-size: 3.5vw !important
    /* width: 100%; */
  }
}
.MuiCardContent-root:last-child {
  padding-bottom: 24px;
  background: beige;
}
.width-300{
  width:300px;
}
.class1{
  color:red;
  font-weight: 900;
  
}
.class2{
  color:green;
  font-weight: 700;
}
.class3{
  color:yellowgreen;
  font-weight: 700;
}
.container {
  display: flex;
  justify-content: center;
  width: 65%;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* font-size: 2.9vw !important; */
    font-size: 3.5vw !important
    /* width: 100%; */
  }
}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
;

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #51d0de;
  color: white;
}
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}
.flashColor,caption{
  color: #ff414e
}