.container {
    display: flex;
    justify-content: center;
    width: 55%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
    .customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      /* font-size: 2.9vw !important; */
      font-size: 11px;
      /* width: 100%; */
    }

  }

  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 11px;
    /* font-size: 2.9vw !important; */
    /* font-size: 3.5vw !important */
    /* width: 100%; */
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  ;
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#51d0de;
    color: white;
  }
  .class1{
    color:green;
    font-weight: 900;
    
  }
  
  .class3{
    color:red;
    font-weight: 700;
  }
  /* .customers tr:first-child {background-color: burlywood} */
  .formControl {
    width: 100% !important;
    /* margin-bottom: 30px !important; */
    margin: 10px !important;
    margin-bottom: 30px !important
  }
  .green{
    background-color: green;
  }
  .red{
    background-color: red;
  }
  .orange{
    background-color: orange;
  }
  
  .lightblue{
    background-color: lightblue !important;
  }
  .fontFamilySize{
    font-size: 12px !important;
    font-family: none !important;
  }
  .lightblue{
    font-size: 1.0rem !important;
  }
 