body {
  /* background-color: rgb(250, 250,250); */
  background-color:#F5FFFA;
  /* font-size: 28px; */
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #282c34; */

}

.image {
  width: 400px;
  height: 100px;
  /* margin-top: 50px; */
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
.image1 {
  width: 40px;
  height: 10px;
  /* margin-top: 50px; */
}
.MuiCardContent-root:last-child {
  padding-bottom: 24px;
  background: beige;
}
/* .navcenter{
  background-color: #ff5500;
    border-color: #E7E7E7;
} */

.navcenter ul {
  text-align: center;
}
.navcenter ul li {
  display: inline;
  float: none;
}
.navcenter ul li a {
  display: inline-block;
  margin:10px;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  margin: 0px 10px;
}

nav ul li:first-child {
  margin-left: 0px;
}

nav ul li a {
  color: #fff;
}

nav {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /* background-color: #eceff1; */
  margin-bottom: 25px;
  margin-top: 18px;
}

.navbar__link {
  /* margin: 1em;
  font-size: 2em;
  font-family: 'Roboto', sans-serif; */
  cursor: pointer;
  text-decoration: none;
  /* letter-spacing: .3em;
  text-indent: .3em; */
  color: #181818;
  border-bottom: 3px solid transparent;
  font-size: 14px;
  margin: 12px;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link__active {
  border-bottom: 2px solid navy;
  transition: border-bottom .5s ease-in-out;
  color: navy;
    font-weight: 500
}
.removeborder{
  border-bottom: 2px solid white;
}