body {
  /* background-color: rgb(250, 250,250); */
  background-color: lightblue;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.image {
  width: 400px;
  height: 100px;
  /* margin-top: 50px; */
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}

.MuiCardContent-root:last-child {
  padding-bottom: 24px;
  background: beige;
}
.navcenter ul {
  text-align: center;
}
.navcenter ul li {
  display: inline;
  float: none;
}
.navcenter ul li a {
  display: inline-block;
  margin:10px;
  text-decoration: none;
}